#cat{
    width: 220px;
    height: auto;
}
.title-h{
    width: 210px;
    font: 15px sans-serif;
    margin-top: 0;
    padding-right: 5px;
    color: #6E6E6E;
    margin-left: 5px;
    text-align: right;
}
#cat > div > a{
    font: 15px sans-serif;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
    color: #6E6E6E;
    cursor: pointer;
}
#cat > div > a:hover{
    color: #80A6E8;
}
#cat > div > a.active{
    color: #80A6E8;
    
}
.cat-prod{
    margin-left: 10px;
    display: none;
    text-align: right;
    margin-right: 5px;
}
.cat-prod a{
    font: 15px sans-serif;
    color: #6E6E6E;
    text-decoration: none;
}
.cat-prod a:hover{
    color: #80A6E8;
}
