#footer{
    width: 1035px;
    height: auto;
    margin-top: 10px;
    clear: both;
    border-top: 1px solid #E3E3E3;
}
.footer-inf{
    font: 15px sans-serif;
    color: #6E6E6E;
    float: left;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
}
.footer-inf a{
    color: #6E6E6E;
    text-decoration: none;
}
.footer-inf a:hover{
    color: #80A6E8;
}
.span{
    margin-top: 7px;
}
#logo1{
    margin-left: 50px;
}