#header{
    width: 1035px;
    height: 220px;
}
#header-top{
    width: 1035px;
    height: 35px;
}
#menu a{
    font: 15px sans-serif;
    color: #6E6E6E;
    text-decoration: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #E3E3E3;
}
#menu a:hover{
    color: #80A6E8;
}
#menu a:last-child{
    border-style: none;
}
#inform-shop{
    width: 300px;
    position: absolute;
    margin-left: 730px;
    margin-top: -50px;
    font: 15px sans-serif;
    color: #6E6E6E;
}
#inform-shop p{
    margin-bottom: -5.1px;
}
span{
    color: #424242;
}
#logo{
    position: absolute;
    left: 400px;
}
#top-menu{
    width: 1033px;
    height: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 10px;
}
#top-menu a{
    font: 15px sans-serif;
    margin-left: 5px;
    text-decoration: none;
    color: #6E6E6E;
}
#top-menu a:hover{
    color: #80A6E8;
}