#body{
    width: 1035px;
    height: auto;
    margin: 0 auto;
}
#b-cont{
    width: 1025px;
    height: auto;
    padding: 0 5px;
    font: 15px sans-serif;
    color: #424242;
    border-top: 1px solid #E3E3E3;
    margin-top: 30px;
}
#top-menu{
    display: none;
}
.shop{
    float: left;
    margin: 10px 20px 10px 0;
}
.span{
    margin-bottom: 5px;
}