#body{
    width: 1035px;
    height: auto;
    margin: 0 auto;
}
#b-um{
    width: 220px;
    height: auto;
    float: right;
}
#b-cont{
    width: 800px;
    height: auto;
}
#sel-sort{
    border: 1px solid #D8D8D8;
    position: absolute;
    width: 130px;
    background-color: white;
    display: none;
    margin-top: 5px;
    box-shadow: 0 0 5px #DBDBDB;
    padding: 4px;
}
#sel-sort a{
    font: 15px sans-serif;
    color: #6E6E6E;
    text-decoration: none;
    padding-left: 3px;
}
#sel-sort a:hover{
    color: #80A6E8;
}
#sort-l{
    font: 15px sans-serif;
    color: #6E6E6E;
    margin-left: 5px;
    cursor: pointer;
}
#sort-l:hover{
    color: #80A6E8;
}
#block-cont{
    float: left;
    margin-right: 0px;
    margin-left: 65px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 10px;
}
#block-cont:last-child{
    border-bottom: none;
}
#block-cont:nth-last-child(2){
    border-bottom: none;
}
.img-cont{
    float: left;
    margin-bottom: 10px;
}
.name-cont{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font: 15px sans-serif;
    color: #6E6E6E;
}
.price-cont{
    font: 15px sans-serif;
    color: #6E6E6E;
    margin-left: 10px;
    margin-top: 10px;
}
.size-cont{
    font: 15px sans-serif;
    color: #6E6E6E;
    margin-top: 10px;
    margin-left: 10px;
}
